.link-tree-view {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    max-width      : 680px;
    margin         : auto;
    padding        : 24px 12px;

    >header {
        display       : flex;
        flex-direction: column;
        align-items   : center;

        >.img-container {
            width           : 96px;
            height          : 96px;
            background-color: rgb(96, 105, 108);
            color           : rgb(255, 255, 255);
            border-radius   : 100%;
            display         : flex;
            justify-content : center;
            align-items     : center;
            font-weight     : 600;
            font-size       : 32px;
        }

        >h1 {
            display        : flex;
            justify-content: center;
            margin-top     : 16px;
            font-weight    : 500;
        }
    }

    >article {
        display       : flex;
        flex-direction: column;
        margin-top    : 32px;
    }
}