.user-layout {
    >main {
        min-height: 100vh;
    }

    >footer {
        display        : flex;
        justify-content: center;
        font-size      : 14px;
        font-weight    : 300;
    }
}