.admin-link-view {
    display       : flex;
    flex-direction: column;
    width         : 100%;

    >header {
        display         : flex;
        justify-content : center;
        align-items     : center;
        width           : 100%;
        background-color: #fff;
        color           : rgb(0, 0, 0);
        box-shadow      : rgb(10 11 13 / 8%) 0px 2px 4px 0px;
        height          : 64px;
        padding         : 0px 8px;

        >.tab-container {
            max-width      : 1240px;
            width          : 100%;
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            height         : 100%;

            >a {
                display    : flex;
                align-items: center;
                height     : 100%;
                font-size  : 16px;
                font-weight: 500;
                color      : #aaa;

                &:hover {
                    color        : #000;
                    border-bottom: 2px #000 solid;
                }
            }

            >.active {
                color        : #000;
                border-bottom: 2px #000 solid;
            }
        }
    }

    >article {
        display        : flex;
        justify-content: center;
        max-width      : 1240px;
        width          : 100%;
        margin         : auto;
        padding-top    : 32px;
        padding-left   : 8px;
        padding-right  : 8px;
        gap            : 32px;

        >.setting-container {
            width: 100%;

            >h1 {
                font-size  : 20px;
                font-weight: 600;
                width      : 100%;
            }

            >.button-container {
                display   : flex;
                width     : 100%;
                margin-top: 16px;

                >a {
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    color           : rgb(255, 255, 255);
                    background-color: rgb(129, 41, 217);
                    transition      : all 75ms ease-out 0s;
                    max-width       : 300px;
                    width           : 100%;
                    height          : 50px;
                    border-radius   : 4px;
                }
            }

            >.new-link-item {
                padding         : 16px;
                margin-top      : 16px;
                display         : flex;
                flex-direction  : column;
                border-radius   : 4px;
                background-color: #fff;
                color           : rgb(0, 0, 0);
                box-shadow      : rgb(10 11 13 / 8%) 0px 2px 4px 0px;
                max-width       : 640px;

                >header {
                    display        : flex;
                    justify-content: space-around;
                    margin-bottom  : 16px;

                    >input {
                        width: 100%;
                    }

                    >a {
                        >img {
                            width: 18px;
                        }
                    }
                }
            }
        }

        >.preview-container {
            width: 100%;

            >header {
                display        : flex;
                justify-content: space-between;

                >.link-container {
                    display    : flex;
                    align-items: center;

                    >h2 {
                        font-weight: 600;
                        width      : 100%;
                    }

                    >a {
                        margin-left: 8px;
                        font-size  : 14px;
                        font-weight: 400;
                    }
                }

                >a {
                    font-size    : 14px;
                    font-weight  : 500;
                    border       : 1px solid #aaa;
                    padding      : 8px;
                    border-radius: 4px;

                    &:hover {
                        background-color: #aaa;
                    }
                }
            }

            >article {
                display        : flex;
                align-items    : center;
                justify-content: center;

                >.preview-container {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    margin-top      : 32px;
                    max-width       : 320px;
                    width           : 100%;
                    height          : 700px;
                    background-color: #000;
                    border-radius   : 32px;

                    >.content {
                        margin          : auto;
                        background-color: #fff;
                        max-width       : 300px;
                        width           : 100%;
                        height          : 680px;
                        border-radius   : 32px;
                        padding         : 8px;
                        display         : flex;
                        flex-direction  : column;
                        margin          : auto;
                        padding         : 24px 12px;

                        >header {
                            display       : flex;
                            flex-direction: column;
                            align-items   : center;

                            >.img-container {
                                width           : 96px;
                                height          : 96px;
                                background-color: rgb(96, 105, 108);
                                color           : rgb(255, 255, 255);
                                border-radius   : 100%;
                                display         : flex;
                                justify-content : center;
                                align-items     : center;
                                font-weight     : 600;
                                font-size       : 32px;
                            }

                            >h1 {
                                display        : flex;
                                justify-content: center;
                                margin-top     : 16px;
                                font-weight    : 500;
                            }
                        }

                        >article {
                            display       : flex;
                            flex-direction: column;
                            margin-top    : 32px;
                        }
                    }
                }
            }
        }
    }
}